<div class="flexcontainer">
  <div class="flexitem imgbox">
    <%=image_tag('http://www.campie.nl/wp-content/uploads/2018/03/Getmydata_logo_white.png', :class => "logo") %>
  </div>
  <div class="flexitem textbox">
    <h1>What do they know about me?</h1>
  </div>
  <div class="flexitem textbox">
    <h3><strong>GetMyData</strong> helps you find out! <br><br> We will be launching soon. Want to be notified? Leave your email below.</h3>
  </div>

  <div class="form">
    <div class="flexitem">
      <%= form_for(@email) do |f| %>
      <% if @email.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <%= f.submit "Submit", class: 'formbtn' %>
      <% end %>
      <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> text-center">
        <%= value %>
      </div>
      <% end %>
    </div>
  </div>
</div>
